* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #e10600;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
}

header {
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #e10600;
    padding: 20px;
}

section h1 {
    text-align: center;
}

main {
    padding: 15px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

a {
    color: var(--primary-color);
    font-size: 20px;
    text-decoration: none;
}

.btn {
    width: 100px;
    padding: 10px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Helvetica Neue', sans-serif;
}
.btn-small{
    width: 60px;
}

.btn-large {  
    transition: background 0.3s;
    width: 200px;
}

th, td {
    text-align: center;
    padding: 10px;
}

th {
    background-color: var(--primary-color);
    color: white;
}

tfoot input {
    background-color: #dcdde1;
    border: 1px solid #7f8c8d;
    color: #333;
    padding: 5px;
    width: 95%;
}

.center {
    text-align: center;
}

.column1, .column2, .column3, .column4{
    flex: 1;
    min-width: 300px;
}

.column3, .column4{
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Opcional: agrega un borde para visualización */
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten el ancho */
}

.column3 {
    text-align: left;
}

#tp1{
    display: flex; /* Activa Flexbox para organizar los hijos en fila */
    gap: 20px; /* Espaciado entre las columnas */
    justify-content: space-between;
}

section article {
    margin-bottom: 20px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
}

article img{
    max-width: 100%;
    height: auto;
    text-align: center;
}

article h5 {
    color: var(--primary-color);
    text-align: left;
}

article p{
    text-align: left;
}
